<form (ngSubmit)="onSubmit(form)" #form='ngForm' [ngFormOptions]="{updateOn: 'blur'}"  >
  <input [(ngModel)]="task.name" name="name" required #name=ngModel (ngModelChange)="onNameChanged()">
  <input [(ngModel)]="task.description" name="description" email #description='ngModel'>
  <input [(ngModel)]="task.age" name="age" type="number" min="14" max="100" #age="ngModel" >
  <div *ngIf="age.invalid && age.errors">
    Вы ввели не правильные данные: {{age.errors['min'].actual}}
    Минимальное значение {{age.errors['min'].min}}
  </div>
  <button type="submit">Submit</button>
</form>

<div *ngFor="let task of tasks">
  <div>{{task.name}} {{task.description}} {{task.age}}</div>
  <button (click)="setEditTask(task)"> Edit</button>
  <button (click)="deleteTaskById(task.id!)"> Delete</button>
</div>



